<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> new full stake app </title>
<style>

</style>
</head>
<body>

     <p>
        بسم الله الرحمن الرحيم
     </p>
<% user.map((eo)=>{%>
    <p>
        <%= eo.name %>
       </p>
       <p>
        <%= eo.age %>
       </p>
       <p>
        <%= eo.pass %>
       </p>
       <hr/>
<% }) %>


</body>
</html>